# Build results
bin/
obj/
dist/
publish/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
packages/
!packages/build/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
